:root {
    --primary-text-color: #757575;
    --secondary-text-color: ;
    --bg-text-color: #e5e5e5;
    --secondary-bg-text-color: #2f303a;
    --accent-text-color: #2196f3;
    --white-text-color: #fff;
}